.body{background-color: darkcyan;margin: 0;}
.link{color: azure;
  text-decoration: none;color:azure;
  display: block;
  position: relative;
  z-index: 999;
}
a:hover{text-decoration: none;}
header{background-color: azure;margin: 0; padding: 8px;}

h1{text-align: center;box-sizing: border-box;color: azure;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.titulo{color: azure;}
.titulo_ofertas{margin: 20px;text-align: center;font-size:x-large;color: azure;}

.navegador{background-color:black; color: antiquewhite;box-shadow:0 0 5px 0 black;margin: 0px;text-decoration: none;color: inherit;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.listaLink{display: inline-block; list-style-type: none; display: flex; flex-direction: row;justify-content:space-evenly;margin-top: 0%; padding: 10px;color: inherit;text-decoration: none;}
.link:hover{box-shadow: 0 10px 20px rgba(0, 0, 0, 0.847);
  transform: translateY(-2px);color: cadetblue;text-decoration: none;
  cursor: pointer;}


.Bienvenida{text-align: center; font-size: 18px; color: azure; }

.video_cartera{text-align: left;color: azure;
  display: flex;
  justify-content:left; 
  margin: 20px;}
.video_contenedor{width: 60%;
  max-width: 450px;
  justify-content: left;
  height: 250px;
  margin: 0 auto;}
  
button:hover{background-color:aqua;cursor: pointer;}

.contenedor-card{box-sizing: border-box;margin: 5px;max-width:100px;display: flex;justify-content: center;background-color: azure;}

.card{align-items: center;justify-content: center;background-color: azure;}


.imagen_producto{justify-content: center;}

.pie{ color:whitesmoke; background-color: black;box-sizing: border-box; margin: 5;padding: 10px;
  padding: 2%;}
.icono_insta{color: azure;background-color: black;}

.col{display: flex;display: inline-block;justify-content: center;}
.col:hover{box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);outline: none;
  transform: translateY(-2px); 
  cursor: pointer;}

.producto-descripcion{color: black;}
.producto-nombre{color: black;font-size:large;}
.precio-actual{color: black;}
.producto-meta{color: black;box-sizing: border-box;font-size: small;}
.derechos{font-size: small;padding-top: 20px;}





